/* 内外边距通常让各个浏览器表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{
	margin:0;
	padding:0;
}
/* 表单元素并不继承父级font */
body,button,input,select,textarea{
	font:12px '微软雅黑',arial,sans-serif;
}
body{ background: #fff;/*overflow: hidden;*/}

input,select,textarea{
	font-size:100%;
}
/* 去掉table cell边距并让其重合 */
table{
	border-collapse: collapse;
	border-spacing:0;
}
/* ie bug:th不继承text-align */
th{
	text-align:inherit;
}
/* 去除默认边框 */
fieldset,img{
	border:none;
}
/* ie6 7 8显示为行内表现 */
iframe{
	display:block;
}
/*去掉列表默认样式*/
ol,ul{
	list-style:none;
}
/* 去除默认链接显示下划线 */
a{
	text-decoration:none;
}
input{
	outline:none;
}
input, textarea, button, a{
	 -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.w{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
.clearfix {
 	 zoom: 1; 
 }
 .maincolor{
 	color: #ff6600;
 }