/*
* @Author: Administrator
* @Date:   2016-03-08 11:44:07
* @Last Modified by:   Administrator
* @Last Modified time: 2016-03-08 15:34:37
*/
body{
	font-family: "Microsoft Yahei";
	color: #333;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear-both{
	clear: both;
}
.section{
	padding:200px 230px;
}
#head{
	width: 200px;
	text-align: center;
}
.head{
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.head img{
	width: 100%;
}
#head h3{
	text-align: center;
	font-size: 20px;
	line-height: 2.2rem;
}
#contact{
	font-size: 16px;
}
#contact li{
	margin-bottom: 35px;
}
#contact i{
	margin-right: 10px;
	font-size: 30px;
	background: #fff;
	border-radius: 50%;
	padding:10px;
}
#contact span{
	font-weight: bold;
	line-height:32px;
	position: relative;
	top: -3px;
}
.about-left{
	width: 320px;
	text-align: right;
}
.about-left h1{
	font-size: 46px;
	border-bottom: 1px solid #333;
}
.about-left p{
	font-size: 24px;
	cursor: pointer;
}
.about-left p.active{
	font-weight: bold;
}
.about-right{
	width: 500px;
	padding-top: 30px;
}
.about-right h2{
	font-size: 22px;
	font-weight: normal;
	border-bottom: 1px solid #333;
	line-height: 42px;
}
.about-right h2 span{
	font-size: 24px;
	font-weight: bold;
}
.about-info{
	display: none;
	font-size: 18px;
	color: #000;
	padding-top: 2px;
}
.about-info.active{
	display: block;
}
.section{
	position: relative;
}
.fl-slide,.fr-slide{
	position: absolute;
	width: 1115px;
	line-height: 30px;
}
.fl-slide{
	left: -100%;
	top:100px;
}
.fr-slide{
	right: -100%;
	bottom:100px;
}
.demo{
	width: 450px;
	height: 268px;
	position: relative;
	overflow: hidden;
	display: none;
}
.demo img{
	width: 100%;
}
.mask-container{
	position: absolute;
	top:0;
	left:0;
	width: 450px;
	height: 268px;
	top:300px;
}
.mask{
	position: absolute;
	left:0;
	top:0;
	width: 450px;
	height: 300px;
	background: #000;
	opacity: .5;
	filter:alpha(opacity=.5);
}
.mask-text{
	position: absolute;
	left:0;
	top:0;
	width: 350px;
	height: 268px;
	color: #fff;
	text-align: center;
}
.no-padding{
	padding:100px 200px;
}
.small-demo {
	text-align: center;
	margin-top: 25px;
}
.small-demo img{
	width:50%;
}
.more{
	position: absolute;
	right: 30px;
	bottom: 30px;
	text-decoration: none;
	color: #545402;
}
@font-face {font-family: 'iconfont';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}